.header-first, .header-first-left , .header-first-wrapper, .header-first-right{
    background-color: #7dd9e8;
    height: 85px;
}

.header-first-wrapper{
    width: 938px;
    margin: 0px auto;
}

.header-first-left{
    width: 62%;
    float: left;

}

.search-wrapper{
    margin-top: 40px;
    margin-left: 23px;
    width: 336px;
    height: 20px;
    float: left;
}

.header-first-right{
    float: right;
}

.header-second, .header-second-wrapper, .header-second-left{
    height: 40px;
    background-color: #f5f5f5;
}
.header-second-wrapper{
    height: 40px;
    width: 938px;
    margin: 0px auto;
}

.header-second-left{
    width: 600px;
    line-height: 15px;
    float: left;
}

.header-second-right{
    width: auto;
    float: right;
    text-align: right;
    margin-top: 12px;
}

.body{
    height: 604px;
    margin-top: 30px;
}

.body-wrapper{
    width: 938px;
    height: 100%;
    margin: 0px auto;
}

.left-nav{
    float: left;
    width: 194px;
    height: 100%;
}

.left-nav-top{
    /* float: left; */
    height: 129px;
}



.left-nav-top-content{
    /* float: left; */
    background-color: #f5f5f5;
    width: 194px;
    height: 89px;
}

.left-nav-bottom{
    height: 475px;
    /* float: left; */
}

.left-nav-bottom-content{
    /* float: left; */
    background-color: #f5f5f5;
    width: 194px;
    height: 435px;

}

.entry-section{
    float: left;
    height: 100%;
    width: 518px;
    margin-left: 26px;
}

.right-nav{
    height: 100%;
    width: 174px;
    float: right;
}

.right-nav-content{
    background-color: #f5f5f5;
    width: 100%;
    height: 564px;
}

.entry-section-title{
    height: 34px;
    width: 100%;
    line-height: 24px;
    font-size: 25px;

}
.entries-wrapper{
    height: 65px;
    width: 100%;
    background: url("../images/title-nav-bg.png");
}

.blue-line{
    height: 2px;
    width: 100%;
    background-color: #2fc1da ;
}

.entry{
    /* height: 100px; */
    width: 100%;
}

.line{
    height: 1px;
    width: 100%;
    background-color: #d8d8d8;
}

.entries-wrapper{
    float: left;
}


.all-entries{
    width: 258px;
    height: 100%;
    float: left;
}

.subscribed{
    float: right;
}

.all-entries-tab, .subscribed-tab{
    margin-top: 12px;
}

.entry-content{
    height: 70px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.entry-image{
    float: left;

}

.footer{
    height: 45px;
    margin-top: 32px;
    background-color: #727272;
}

.footer-wrapper{
    width: 938px;
    height: 100%;
    margin: 0px auto;
}

.footer-left{
    display: inline;
    width: auto;
    float: left;
    padding: 18px 0px; 
}


